<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/background.jpg');">
        <div class="filter">
            <div class="container">
                <div class="motto text-center">
                    <h1>Your Review Matters!</h1>
                    <h3>We are keen to hearing your reviews, for our better performance and exponential growth.</h3>
                    <br />
                    <a href="https://gebeya.com/" target="_blank" class="btn btn-outline-neutral btn-round"><i class="fa fa-share"></i>More about Gebeya</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Feedback utilizes competitiveness</h2>
                        <h5 class="description">To be the most trusted and reliable source of talent that showcases Africa’s competitiveness. We commit to deliver exceptional value to our customers by offering skilled talent with the right mindset, attitude, and integrity.</h5>
                        <br>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="info col-md-8 mr-auto ml-auto card bg-light">
                        <div class="icon icon-danger card-avatar">
                            <i class="fa fa-wpforms" aria-hidden="true"></i>
                        </div>
                        <div class="description card-description">
                            <h4 class="info-title">Form #1</h4>
                            <p class="description">Form Description......</p>
                        </div>
                        <div class="card-footer ml-auto">
                            <button [routerLink]="['/form']" class="btn btn-outline-danger btn-round">Fill In</button>
                        </div>
                    </div>
                    <div class="info col-md-8 mr-auto ml-auto card bg-light">
                        <div class="icon icon-danger card-avatar">
                            <i class="fa fa-wpforms" aria-hidden="true"></i>
                        </div>
                        <div class="description card-description">
                            <h4 class="info-title">Form #2</h4>
                            <p class="description">Form Description......</p>
                        </div>
                        <div class="card-footer ml-auto">
                            <button [routerLink]="['/form']" class="btn btn-outline-danger btn-round">Fill In</button>
                        </div>
                    </div>
                    <div class="info col-md-8 mr-auto ml-auto card bg-light">
                        <div class="icon icon-danger card-avatar">
                            <i class="fa fa-wpforms" aria-hidden="true"></i>
                        </div>
                        <div class="description card-description">
                            <h4 class="info-title">Form #3</h4>
                            <p class="description">Form Description......</p>
                        </div>
                        <div class="card-footer ml-auto">
                            <button [routerLink]="['/form']" class="btn btn-outline-danger btn-round">Fill In</button>
                        </div>
                    </div>
                    <div class="info col-md-8  mr-auto ml-auto card bg-light">
                        <div class="icon icon-danger  mr-auto ml-auto card-avatar">
                            <i class="fa fa-wpforms" aria-hidden="true"></i>
                        </div>
                        <div class="description card-description  mr-auto ml-auto">
                            <h4 class="info-title">Form #4</h4>
                            <p class="description">Form Description......</p>
                        </div>
                        <div class="card-footer ml-auto">
                            <button [routerLink]="['/form']" class="btn btn-outline-danger btn-round">Fill In</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Our core values</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="icon icon-danger">
                                <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author card-title">
                                        <h4 class="card-title">Humility, In Good Company</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    We leverage our expertise to help companies solve complex problems. We need your brain, not your ego.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="icon icon-danger">
                                <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Be the outcome you seek</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    We source the best talent in Africa to transform our customers’ challenges into opportunities. 
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="icon icon-danger">
                                <i class="fa fa-star fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Wow The Customer</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    From the first interaction to the final product, the customer is at the core of every action we take.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="icon icon-danger">
                                <i class="fa fa-puzzle-piece fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Work Smarter </h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    We are at the forefront of digital transformation in Africa. For everyone at Gebeya: work has no boundary, no location, no physical limit.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-profile card-plain">
                            <div class="icon icon-danger">
                                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Innovate With Humanity</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    We are a people company. We offer an environment centered around transparency, respect, and dignity, where each individual is challenged to reach their full potential.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://gebeya.com/" target="_blank">Gebeya</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © 2022  <i class="fa fa-heart heart"></i> Gebeya Inc.
                        </span>
                    </div>
                </div>
            </div>
        </footer>
               
    </div>

</div>


<router-outlet></router-outlet>



