<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/gebeya.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/form.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    
                </div>
                <div class="name">
                    <h4 class="title">Form #1<br /></h4>
                    <h6 class="description">Form Description........</h6>
                </div>
            </div>
        <div class="col-md-8 mr-auto ml-auto">
            <form class="contact-form">
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <label>Full Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Default">
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <label>Email Address</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Default">
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <label>What is your role in Gebeya?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Default">
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <label>What have you learnt throughout your time as an employee at Gebeya?</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Accomplished #1
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Accomplished #2
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value="">
                              Accomplished #3
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">                        
                        <label>Which of the core values do you give priority to?</label>
                        <div class="form-check-radio">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                            Number 1 core value
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check-radio">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                            Number 2 core value
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                              Number 3 core value
                              <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                              Number 4 core value
                              <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                </div>                
                <div class="row">
                    <div class="col-md-4 mr-auto ml-auto">
                        <button class="btn btn-danger btn-lg btn-fill">Submit</button>
                    </div>
                </div>
                
            </form>
        </div>
            <!-- <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div> -->
        </div>
    </div>
</div>
